body { padding-bottom: 76px; }
.em-one-point-four { font-size: 1.4em; }
.em-two { font-size: 2em; }
.em-four { font-size: 4em; }
.align-top { vertical-align: top; }
.margin-lr10 { margin: 0 10px; }
.margin-tb10 { margin: 10px 0; }
.center { text-align:center;}