<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/octicons/octicons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/prism.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />
    <script src="~/Scripts/prism.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <!-- Static navbar -->
        <nav>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href='/' class="navbar-brand">kuujinbo.iTextInAction2Ed.ASP.NET.MVC</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href='http://stackoverflow.com/users/604196/kuujinbo' target='_blank'>
                                <img src='http://stackoverflow.com/users/flair/604196.png?theme=dark' class='align-top' width='208' height='58' alt='profile for kuujinbo at Stack Overflow, Q&amp;A for professional and enthusiast programmers' title='profile for kuujinbo at Stack Overflow, Q&amp;A for professional and enthusiast programmers' />
                            </a>
                        </li>
                        <li>
                            <a href='https://github.com/kuujinbo' alt='kuujinbo at GitHub' title='kuujinbo at GitHub' target='_blank'><span class="margin-lr10 mega-octicon octicon-mark-github"></span></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>

@RenderSection("fixedBottom", required: false)

@RenderSection("scripts", required: false)
</body>
</html>